@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
	position: relative;
}

body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

/* Nav */
nav {
	display: flex;
	justify-content: space-around;
	height: 50px;
	align-items: center;
	color: #fff;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

nav._nav-scroll {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
	background-color: #0600FF;
	transition: all 1s ease;
}

nav ._logo {
	letter-spacing: 3px;
	margin-top: .5rem;
}

nav ._logo a {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

nav ._logo a:hover {
	color: #00BAFF;
}

nav ul {
	display: flex;
	list-style: none;
	margin-top: 1rem;
	width: 30%;
	justify-content: space-between;
}

nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
}

nav ul li a:hover {
	color: #00BAFF;
}

/* Hamberger Menu */
._menu-toggle {
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
	z-index: 999;
}

._menu-toggle input {
	position: absolute;
	width: 40px;
	height: 28px;
	left: -5.5px;
	top: -3px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

._menu-toggle span {
	display: block;
	width: 28px;
	height: 3px;
	background-color: #fff;
	border-radius: 3px;
	transition: all 0.5s;
}

/* Hamberger Menu Animasi */
._menu-toggle span:nth-child(2){
	transform-origin: 0 0;
}

._menu-toggle span:nth-child(4){
	transform-origin: 0 100%;
}

._menu-toggle input:checked ~ span:nth-child(2) {
	transform: rotate(45deg) translate(-1px, -1px);
}

._menu-toggle input:checked ~ span:nth-child(4) {
	transform: rotate(-45deg) translate(-1px, 0);
}

._menu-toggle input:checked ~ span:nth-child(3) {
	transform: scale(0);
	opacity: 0;
}

/* Section */
.jumbotron {
	z-index: -3;
	opacity: .9;
	background-image: url(./images/bg-ruang-kerja.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: -100px 0;
	color: #eaeaea;
	overflow: hidden;
}

.jumbotron img {
	height: 200px;
	width: 200px;
	border: 1px solid #eaeaea;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

section {
	min-height: 300px;
	z-index: -3;
}

section._about {
	margin-top: -32px;
	background-color: #f4623a;
	color: white;
}

._about hr {
	width: 80px;
	border-top: 3px solid #fff;
}

._bottom-about {
	opacity: 0;
	transform: translate(0, 50px);
	transition: 1.5s;
}

._bottom-about-go {
	opacity: 1;
	transform: translate(0, 0);
}

._contact {
	min-height: 600px;
}

._contact p, {
	width: 50vw;
	text-align: center;
}

._info ._sosial-link a {
	font-size: 18px;
	display: inline-block;
	background: #fff;
	color: #1dc8cd;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
	border: 1px solid #1dc8cd;
}

._info ._sosial-link a:hover {
	color: #fff;
	background: #1dc8cd;
}

._info-loc i {
    font-size: 32px;
    color: #1dc8cd;
    float: left;
    line-height: 1;
}

._info-loc p, ._info-loc p {
    padding: 0 0 10px 42px;
    line-height: 28px;
    font-size: 14px;
}

._info-loc p a {
	text-decoration: none;
	color: black;
}

._product {
	min-height: 300px;
}

._product img {
	width: 100px;
	height: 100px;
}

._btn-xl {
	padding: 1.25rem 2.25rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
}

hr {
	width: 80px;
	border-top: 3px solid #f4623a;
}

h2 {
	font-weight: bold;
}

._myTeam {
	background-color: #eee;
}

._myTeam ._thumbnail {
	opacity: 0;
	transform: translate(-40px,0);
	transition: 1s;
}

._myTeam ._thumbnail._muncul {
	opacity: 1;
	transform: translate(0,0);
}

footer {
	position: absolute;
	width: 100%;
	height: 80px;
	bottom: 0;
	background-color: #0600FF;
	padding-top: 30px;
}

footer p, footer p a {
	color: #fff;
	font-size: 0.9em;
}

footer p i {
	color: salmon;
}

/* Breakpoints */

/* Ukuran Table */
@media screen and (max-width: 768px) {
	nav ul {
		width: 50%;
	}
}

/* Ukuran Mobile */
@media screen and (max-width: 576px) {
	.jumbotron {
		margin-top: 50px;
	}

	nav {
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
		background-color: #0600FF;
		transition: all 1s ease-in-out;
	}

	nav ul {
		position: absolute;
		right: 0;
		top: -1rem;
		height: 100vh;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: black;
		z-index: 1;
		transform: translateX(100%);
		transition: all 1s;
		opacity: 0;
	}

	._menu-toggle {
		display: flex;
	}

	nav ul._slide {
		opacity: 1;
		transform: translateX(0);
	}
}